<html>
<head>
    <title> <%= title %> </title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

    <div id="container">
        <div id="button" >
            <form action="/createProjectDialogue" method="post">
                <button>
                    Create Project
                </button>
            </form>
        </div>

        <div id="lists">
            <ul>
                <% for(let i of create_Proj){ %>
                    <div class="deetsAndDelete">
                        <li class="ProjectList">
                            <p>Name: <%= i.name %></p>
                            <p>Description: <%= i.description %></p>
                            <p>Author: <%= i.author %></p>
                        </li>
                        <div class="delete-button">
                            <a href="/deleteProjectDetails/?id=<%= i._id %>">
                            <i class="fas fa-window-close"></i>
                            </a>
                        </div>
                    </div>
                    
                    <button>
                        <a href="/projectDetails?id=<%= i._id %>">Open Project</a>
                    </button>
                    
                <% } %>
            </ul>
            
        </div>
    </div>

    <script type="text/javascript" src="/js/index.js"></script>
    
</body>
</html>


