<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/34ad640c13.js" crossorigin="anonymous"></script>
        <%- style %>
    </head>
    <body>

        <%- include('_header'); %>

        <%- body %>

        <%- include('_footer'); %>

        <%- script %>

    </body>
</html>
