<html>
<head>
    <title> <%= title %> </title>
    <script src="https://kit.fontawesome.com/34ad640c13.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="Main-container">
        <div class="filter">

                <input type="checkbox" class="label" onchange="handleLabelsEvent()" name="label" value="Bug">
                <label for="label1"> Bug</label><br>
                <input type="checkbox" class="label" name="label" value="UI Improvement" onchange="handleLabelsEvent()">
                <label for="label2"> UI Improvement</label><br>
                <input type="checkbox" class="label" name="label" value="Enhancement" onchange="handleLabelsEvent()">
                <label for="label3">Enhancement</label><br>
                <input type="checkbox" class="label" name="label" value="Documentation" onchange="handleLabelsEvent()">
                <label for="label4">Documentation</label><br><br>
                <form>
                    <input type="button" onclick="removeFilter()" value="Deselect Labels">
                </form>
           

            <select name="authors-filter" multiple id ="authors_filter">
                <% for(let i of create_Proj){ %>
                        <option value="<%= i.author %>"><%= i.author %></option>
                <% } %>
            </select>

        </div>
        
        <div class="details">
            <ul>
                <% for(let i of create_Proj){ %>
                    <div class="deetsSection">
                        <li class="ProjectList">
                            <p>Name: <%= i.name %></p>
                            <p>Description: <%= i.description %></p>
                            <p>Author: <%= i.author %></p>
                            <p>Issue:
                                <ul id="all-issues-list" data-all-issues = "<%= issue_list%>">
                    
                                </ul>
                            </p>

                                <div id="button" >
                                    <form action="/createIssue/?id=<%= i._id %>" method="post">
                                        <button>
                                            Create Issue
                                        </button>
                                    </form>
                                </div>
                           
                        </li>
                <% } %>
            </ul>

        </div>
       




    </div>

    <script type="text/javascript" src="/js/index.js"></script>

</body>
</html>